.homepage {
  height: 90vh;
  position: relative;
  &__text {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    &--primary {
      font-size: 9rem;
      font-weight: bold;
    }
    &--secondary {
      font-size: 6rem;
    }
  }
}
