.summpage .quiz-summary {
    font-family: $quicksand;
  
    span.success-icon {
        color: $green;
        font-size: $xxlg;
    }
  
    h1 {
        color: black;
        text-align: center;
        font-size: $lg;
        margin-top: -$sm;
    }
  
    h2 {
        color: black;
    }
  
    h4 {
        color: lighten(black, 10%);
    }
  
    .stats {
        background-color: white;
        max-width: 100%;
        padding: $sm $md $md $md;
    }
  
    .stats h4, .stats h2 {
        text-align: center;
    }
  
    .stats .left {
        color: $off-black;
        font-size: 2rem;
        left: 40%;
    }
  
    .stats .right {
        left: 40%;
        font-size: 2rem;
    }
  
    .stats .stat {
        position: relative;
        top: 50px;
        display:inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
  
    .buttons {
      display: inline-block;
      margin-top: 30px;
      position: relative;
      left: 38%;
      font-size: 2rem;
    }
  
    section ul {
        margin-top: $sm;
        text-align: center;
    }
  
    section ul li {
        display: inline-block;
    }
  
    section ul li a {
        padding: $sm !important;
    }
  
    section ul li a:hover {
        color: white;
    }
  
    section ul li:first-child {
        border: 1px solid black;
        margin-right: $sm;
        transition: 0.3s linear all;
    }
  
    section ul li:first-child:hover {
        background-color: black;
    }
  
    section ul li:last-child {
        border: 1px solid black;
        transition: 0.3s linear all;
    }
  
    section ul li:last-child:hover {
        background-color: black;
    }
  
    section ul li:last-child a {
        color: black;
    }
  
    section ul li:first-child a {
      color: black;
  }
  
    section ul li:last-child a:hover {
        color: $off-white;
    }
  
    section ul li:first-child a:hover {
      color: $off-white;
  }
  
    .no-stats {
        color: $off-black;
        margin: $xxlg auto;
    }
  }
  
  @media (max-width: $md-breakpoint) {
    .summpage .quiz-summary {
        font-size: $sm;
        padding-left: $xs;
        padding-right: $xs;
    }
  
    .summpage div.container.stats {
        margin: 0;
        padding: $sm;
        max-width: 100%;
        width: 100%;
    }
  }